
    
#cookie{
    
    
    background-image:url(img/cookie.svg);
    background-repeat: no-repeat;
    background-size: 45vw 45vh;
    background-color: transparent;
    border:none;
    width:50vw;
    height:50vh;
    
}

#cookie:hover{
    
    background-image:url(img/cookie.svg); /* pour les droits img voir https://fr.m.wikipedia.org/wiki/Fichier:Emojione_1F36A.svg*/
    background-repeat: no-repeat;
    background-size: 47vw 47vh ;
    background-color: transparent;
    border:none;
    width:50vw;
    height:50vh;
    cursor: pointer;
    
    
}

section,header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}

html {
    width:100vw;
    height:100vh;
}
    

body{
 
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    }

#buttons button{
    
    padding-left: 5vw;
    padding-right: 5vw;
}
#buttons button:hover{
    cursor: pointer;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button p{
   
 font-size: 20px;
}

*{ font-family: Arial, sans-serif;  }
    
#disabled {
    padding-left: 5vw;
    padding-right: 5vw;
    opacity: 0.6;
    cursor: not-allowed;
  }